@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* universal selector to remove extra padding and margin on the pages. */
* {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;

}

h1,
h2,
h3 {
    letter-spacing: 1px;
    text-align: center;
    padding: 10px 10px 0 10px;
    color: #DAC593;
    font-family: open sans, sans-serif;
}

p {
    font-size: large;
    letter-spacing: 1px;
    padding: 10px 10px 20px 10px;
}

header {
    background-color: white;
    height: 85px;
    width: 100%;
    border-bottom: 2px solid black;
    position: fixed;
    z-index: 99;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

header li {
    list-style-type: none;
    display: inline;
    padding-top: 15px;
}

header a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    margin-right: 20px;
}

header a:hover {
    color: #F0E6C0;
}

.active {
    border-bottom: 1px solid black;
}

/* landing page */
#hero-image {
    height: 604px;
    width: 100%;
    margin-top: 82px;
    background: url("https://media.gettyimages.com/id/106815307/photo/muhammad-ali-onstage-during-the-michael-j-fox-foundations-2010-benefit-a-funny-thing-happened.jpg?s=612x612&w=0&k=20&c=NtcDQXs6Xo0bbEgaWrs1JOFKGpc_2duzZc02Y9XkmAY=") no-repeat 25% 25%/cover;
}

#about-ali {
    margin-top: 5px;
    background-color: whitesmoke;
}

#about-ali>p {
    padding: 10px 20px 10px 20px;
    letter-spacing: 1px;
    font-size: x-large;
}

#table-of-content {
    padding: 10px;
    background-color: white;
    text-align: center;
}

#table-of-content a {
    text-decoration: none;
    margin: 10px;
    color: black;
    font-size: 20px;
    border-bottom: 1px solid wheat;
}

#table-of-content a:hover {
    border-bottom: 1px solid whitesmoke;
}

#table-of-content li:first-of-type {
    padding-top: 10px;
}

#table-of-content li {
    padding: 0 20px 0 20px;
    letter-spacing: 1px;
    font-size: large;
    list-style-type: none;
}

span {
    border-bottom: 1px solid white;
}

main {
    margin-top: 10px;
    background-color: whitesmoke;
    padding-bottom: 20px;
}

.text-content {
    width: 90%;
    margin: auto;
}

.section-image img {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 40px;
}

/* end of landing page */

footer {
    background-color: white;
    width: 100%;
    height: 50px;
    border-top: 1px solid black;
}

footer a {
    text-decoration: none;
    color: black;
}

#copyright p {
    padding: 0px;
    text-align: center;

}

#socials {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

#socials a {
    padding: 10px 0 20px 0;
}

/* gallery page */
#gallery-page {
    margin-top: 82px;
    padding-bottom: 0;
}

#ali-images {
    line-height: 0;
}

#ali-images img {
    line-height: 1px;
    width: 100%;
}

/* author page  */
#author-page {
    margin-top: 82px;
    float: 1 0 auto;
}

#author,
#get-in-touch {
    width: 90%;
    margin: auto;
    margin-top: 10px;
    height: auto;
    padding-bottom: 20px;
}

#get-in-touch {
    margin-top: 30px;
    width: 60%;
    background-color: #DAC593;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

#get-in-touch-form {
    padding-top: 10px;
    padding-left: 10px;
}

iframe {
    height: 200px;
    width: 80%;
}

/* media querry for large or landscape phones */
@media screen and (min-width: 576px) {
    #ali-images {
        column-count: 2;
        column-gap: 0;
    }

    iframe {
        height: 400px;
        width: 80%;
    }

    input[type="text"],
    input[type="email"] {
        width: 300px;
    }

}

/* media querry for large screens, Laptops and desktops. */
@media screen and (min-width: 992px) {
    #introduction {
        display: flex;
        flex-flow: row nowrap;
        margin-bottom: 20px;
        justify-content: center;
        margin: 0 10px 0 10px;
    }

    #about-ali {
        width: 60%;
        padding-top: 40px;
        box-shadow: 0 2px 2px black;
        background-color: whitesmoke;
    }

    #table-of-content {
        margin: 0;
        width: 40%;
        box-shadow: 0 2px 2px black;
        padding: 100px 0 100px 0;
        height: auto;
    }

    #section-one {
        padding-top: 50px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }

    #section-one .section-image img {
        height: 500px;
    }

    #section-two {
        padding-top: 50px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }

    #section-two .section-image img {
        height: 500px;
    }

    .section-text {
        width: 60%;
        height: 500px;
    }

    .text-content {
        overflow: auto;
        height: 446px
    }

    #section-three {
        padding-top: 50px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }

    #section-four {
        padding-top: 50px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }

    #section-four .section-image img {
        height: 500px;
    }

    /* gallery page */
    #ali-images {
        column-count: 3;
        column-gap: 0;
    }

    /* author page */

    #author-page {
        margin: 80px 5% 0 5%;
    }

    input[type="text"],
    input[type="email"] {
        width: 400px;
    }

}

@media screen and (min-width: 1290px) {
    .section-text {
        width: 70%;
    }

    .text-content {
        height: 600px;
        overflow: hidden;
    }

    #section-one {
        padding-bottom: 50px;
    }

    #section-two {
        margin-top: -50px;
    }

    #section-one .section-image img {
        margin-top: -30px;
    }

    #section-two .section-image img {
        margin-top: 10px;
    }

    #section-three .section-image img {
        margin-top: 20px;
    }

}